ul.horizontal-list {
	overflow-x: auto;
	white-space: nowrap;
}
li.item {
	display: inline-block;
	width: 320px;
	height: 180px;
    margin-top: 160px;
    margin-left: 8px;
    margin-right: 8px;
	font-size: 8px;
	color: #fff;
	background-color: #ff5a5f;
}	